/* General */

:root{
  --background-color: #151515;
  --text-color: white;
  --font-1: "bely-display";
  --font-2: 'Raleway', sans-serif;;

}

html {
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  background: #151515;
  color: white;
  overflow-x: hidden;
  font-family: 'raleway' , sans-serif;
  font-weight: 400;
  font-style: normal;
}

.img {
  width: auto;
}

.image {
  padding-left: 2rem;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo {
  margin-left: 1rem;
  margin-top: 1.5rem;
}

/* contact */
.contact__res {
  font-size: 150%;
  padding-top: 3%;
  padding-bottom: 1rem;
  padding-left: 2rem;
  color: rgb(197, 132, 235);
}

.mail {
  padding-left: 2rem;
  padding-bottom: 1.5rem;
}

/* link stuff */

a:link {
  color:rgb(197, 132, 235);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(197, 132, 235);
  background-color: transparent;
  text-decoration: none;
}

.name {
  display: flex;
  text-align: center;
  font-family: var(--font-1);
  font-size: 4rem;
  margin: 2rem;
  padding-top: 2rem;
  animation: Slide_Left 1.4s ease;
}



/* Mobile */

@media screen and (min-width: 0px) {

  /* Index */

  .name {
    display: flex;
    text-align: center;
    font-family: var(--font-1);
    font-size: 4rem;
    margin: 2rem;
    padding-top: 4rem;
    animation: Slide_Left 1.4s ease;
  }

  @keyframes Slide_Left {
    0% {
      transform: translateX(-400px);
    }
    100% {
      transform: translateX(0);
    }
  }


section.me img {
  width: 300px;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 1rem;
  display: block;
}

.top__text {
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 0.8rem;
  background-size: 2rem 2rem;
}

  .cs__card__top {
    background-color:rgb(240, 235, 235);
    background-image: linear-gradient(rgb(160, 158, 158) .1rem, transparent .1rem), linear-gradient(90deg, rgb(160, 158, 158) .1rem, transparent .1rem);
    background-size: 2rem 2rem;
    padding-bottom: 2rem;
  }

  .description {
    text-align: center;
    font-family: var(--font-2);
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
    line-height: 1.8rem;
  }

  .cs__index {
    text-align: center;
    font-family: var(--font-1);
    color: black;
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .cs__imgs {
    margin-top: 6rem;
    margin-left: 1.7rem;
    margin-right: 1.7rem;
    background-image: radial-gradient(circle, #c584eb, #ae76e3, #9569db, #7a5dd4, #5a52cc, #404fbc, #254bab, #004699, #004075, #003249, #002024, #080c0b);
  }

  .button {
    background-color: rgb(197, 132, 235);
    border: none;
    color: rgb(14, 0, 24);
    padding: 0.7rem;
    font-weight: bold;
    width: 7rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 2rem;
    font-size: 1rem;
    font-family: var(--font-1);
  }

  .cs__imgs2 {
    margin-top: 6rem;
    margin-left: 1.7rem;
    margin-right: 1.7rem;
    background-image: radial-gradient(circle, #c584eb, #e46fcf, #f95bab, #ff4e82, #ff4d57, #ed444e, #db3a45, #c9313d, #982147, #621d42, #31162d, #07010b);
  }

  .contact__res {
    font-family: var(--font-1);
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    color: rgb(197, 132, 235);
  }

  .mail {
    font-family: var(--font-2);
    padding-left: 2rem;
    padding-bottom: 1.5rem;
  }

  .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .image {
    padding-left: 0.6rem;
  }


  .index__number {
    margin-top: 0.5rem;
    color: rgb(197, 132, 235);
    padding-left: 1.5rem;
    font-size: 4.5rem;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    float: left;
    font-family: var(--font-1);
  }

  .desc__index {
    font-family: var(--font-2);
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.5rem;
  }

  .cs__title {
    z-index: 2;
    color: rgb(197, 132, 235);
    font-family: var(--font-1);
    font-size: 2.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  .cs__card2 {
    background-color:rgb(240, 235, 235);
    background-image: linear-gradient(rgb(160, 158, 158) .1rem, transparent .1rem), linear-gradient(90deg, rgb(160, 158, 158) .1rem, transparent .1rem);
    background-size: 2rem 2rem;
  }


  .cs__card__text {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background: rgb(0, 0, 0);
    padding-bottom: 1rem;
  }

  .cs__card__text2 {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    background: rgb(0, 0, 0);
    padding-bottom: 1rem;
  }

  .cs__card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 0.8rem;
    background-image: linear-gradient(rgb(160, 158, 158) .1rem, transparent .1rem), linear-gradient(90deg, rgb(160, 158, 158) .1rem, transparent .1rem);
    background-size: 2rem 2rem;
  }

  .cs__card3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    background-image: linear-gradient(rgb(160, 158, 158) .1rem, transparent .1rem), linear-gradient(90deg, rgb(160, 158, 158) .1rem, transparent .1rem);
    background-size: 2rem 2rem;
    margin-top: 2rem;
    background: black;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(163,43,7,1) 25%, rgba(163,43,7,1) 75%, rgba(0,0,0,1) 100%);
  }
  

  .index__insta {
    width: 310px;
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
    padding: 0 auto;
  }

  /* Insta */

  .article__card2 {
    /* width: 100%; */
    flex-direction: row;
    padding-right: 1rem;
    padding-left: 0.7rem;
    padding-bottom: 1rem;
    background-color: #151515;
    justify-content: space-between;
  }

  .vid2 {
    justify-content: center;
    margin-left: 0.5rem;
  }

  .number {
    margin-top: 1rem;
    margin-left: 0.5rem;
    color: #1144c1;
    padding-right: 100%;
    font-size: 3rem;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    float: left;
    font-family: var(--font-1);
  }

  .title__index {
    text-align: center;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-family: var(--font-1);
    line-height: 4rem;
  }

  .gridback {
    text-align: center;
    background-image: linear-gradient(rgb(160, 158, 158) .1rem, transparent .1rem), linear-gradient(90deg, rgb(160, 158, 158) .1rem, transparent .1rem);
    background-size: 2rem 2rem;  
    margin-top: 3rem;
    padding-top: 2rem;
    height: 2rem;
    padding-bottom: 10rem;
    font-size: 6rem;
    font-family: var(--font-1);
  line-height: 5.5rem;
  }

  .box__heading {
    color: #1144c1;
    font-size: 1.8rem;
    font-family: var(--font-1);
    padding-bottom: 0.25rem;

  }

  .survey {
    padding: 1rem;
    font-size: 1rem;
    margin: 0.5rem;
    font-family: var(--font-2);
  }

  .box1 {
    font-size: 1rem;
    font-family: var(--font-2);    
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.5rem;

  }

  .h3__insta {
    justify-content: flex-start;
    font-size: 2rem;
    color: rgb(197, 132, 235);
    padding-left: 1rem;
    font-family: var(--font-1);
  }

  .h4__insta {
    justify-content: flex-start;
    font-size: 2rem;
    color: rgb(197, 132, 235);
    padding-left: 2.5rem;
    font-family: var(--font-1);
  }

  .p__insta2 {
    font-family: var(--font-2);    
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.5rem;
  }

  .p__insta5 {
    font-family: var(--font-2);    
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.5rem;
  }

  .link {
    font-family: var(--font-2);    
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.5rem;
  }

  .overview {
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(232,54,0,1) 27%, rgba(17,68,193,1) 56%, rgba(232,54,0,1) 79%, rgba(0,0,0,1) 100%);
    font-size: 3rem;
    margin-top: 1.5rem;
    color: white;
    font-family: var(--font-1);
    height: auto;
    width: 100%;
  }

  .conclusion2 {
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(232,54,0,1) 27%, rgba(17,68,193,1) 56%, rgba(232,54,0,1) 79%, rgba(0,0,0,1) 100%);
    font-size: 3rem;
    margin-bottom: 40px;
    color: white;
    font-family: var(--font-1);
    height: auto;
    width: 100%;
  }

  .box__insta2 {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    padding-left: 1rem;
    padding-right: 2rem;
    align-items: center;
  }

  .overview__new {
    font-family: var(--font-1);
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(232,54,0,1) 27%, rgba(17,68,193,1) 56%, rgba(232,54,0,1) 79%, rgba(0,0,0,1) 100%);
    font-size: 3rem;
    margin-top: 2rem;
    color: white;
  }

  .overview2 {
    font-size: 5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: rgba(232,54,0,1);
}

.hr {
  color: rgb(197, 132, 235);
  display: block;
  width: 100%;
  }

  /* Images */

  section.insta__img img {
    width: 300px;
    margin: 0 auto;
    display: block;
    padding: 0 auto;
  }

  section.insta__img2 img {
    width: 300px;
    margin: 0 auto;
    display: block;
    padding: 0 auto;
  }

  section.insta__img3 img {
    width: 300px;
    margin: 0 auto;
    display: block;
    padding: 0 auto;
  }

  section.insta__img4 img {
    width: 310px;
    margin: 0 auto;
    display: block;
    padding: 0 auto;
  }

  section.insta__img5 img {
    width: 310px;
    margin: 0 auto;
    display: block;
    padding: 0 auto;
  }

  section.insta__img6 img {
    width: 310px;
    margin: 0 auto;
    display: block;
    padding: 0 auto;
  }

  section.insta__img7 img {
    width: 310px;
    margin: 0 auto;
    display: block;
    padding: 0 auto;
  }

 video {
  justify-content: center;
  padding: 0.5rem;

}

  
}




@media screen and (min-width: 700px) {


  /* Index */

  .name {
    text-align: center;
    font-family: var(--font-1);
    font-size: 5rem;
    margin-top: 3.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    animation: Slide_Left 1.4s ease;;
  }

  @keyframes Slide_Left {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0);
    }
  }


  .top__text {
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 0.8rem;
    background-size: 2rem 2rem;
  }

  .container__main {
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #151515;
    display: flex;
  }

  p.description {
    font-family: var(--font-2);
    font-size: 1.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 2rem;
  }

  .button {
    background-color: rgb(197, 132, 235);
    border: none;
    color: rgb(14, 0, 24);
    padding: 0.7rem;
    font-weight: bold;
    width: 10rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 2rem;
    font-size: 1.3rem;
    font-family: var(--font-1);
  }

  .cs__card__3 {
    /* width: 90%; */
    display: flex;
 flex-direction: column;
 padding-right: 2rem;
 padding-left: 2rem;
 padding-bottom: 2rem;
 justify-content: space-between;
  }

  .cs__card {
    flex: 1;
  
  }

  .index__insta {
    width: 310px;
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
    padding: 0 auto;
  }

  .cs__card__text {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-top: 1.7rem;
    margin-bottom: 2rem;
    background: rgb(0, 0, 0);
    padding-bottom: 1rem;
  }

  .gridback {
    text-align: center;
    padding-top: 0.5rem;
    margin-top: 3rem;
    padding-top: 2rem;
    height: 5rem;
    padding-bottom: 5rem;
    font-size: 6rem;
    font-family: var(--font-1);
  line-height: 5.5rem;
  }

  .index__number {
    margin-top: 0.5rem;
    color: rgb(197, 132, 235);
    padding-left: 1.5rem;
    font-size: 4.5rem;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    float: left;
    font-family: var(--font-1);
  }

  .description {
    text-align: center;
    font-family: var(--font-2);
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
    line-height: 2.5rem;
  }

  .cs__card__top {
    background-color:rgb(240, 235, 235);
    background-image: linear-gradient(rgb(160, 158, 158) .1rem, transparent .1rem), linear-gradient(90deg, rgb(160, 158, 158) .1rem, transparent .1rem);
    background-size: 2rem 2rem;
    padding-bottom: 2rem;
  }

  

  /* Case Study */

  .overview__new {
    font-family: var(--font-1);
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(232,54,0,1) 27%, rgba(17,68,193,1) 56%, rgba(232,54,0,1) 79%, rgba(0,0,0,1) 100%);
    font-size: 3rem;
    margin-top: 4rem;
    color: white;
  }

  .index__insta {
    width: 500px;
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
    padding: 0 auto;
  }

  .title__index {
    text-align: center;
    font-size: 4rem;
    font-family: var(--font-1);
    font-weight: 400;
  }

  .box__heading {
    color: #1144c1;
    padding-top: 1rem;
    font-size: 2rem;
    font-family: bely-display,sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 0.25rem;

  }

  .box1 {
    font-size: 1.2rem;
    font-family: var(--font-2);
    font-weight: 400;
    font-style: normal;

  }

  .box__insta2 {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    align-items: center;
  }

  .p__insta2 {
    font-size: 1.25rem;
    text-align: justify;
    font-family: var(--font-2);   
    font-weight: 400;
    line-height: 1.8rem;
    font-style: raly normal;    
    padding-left: 2rem;
    padding-right: 2rem;

  }

  .p__insta5 {
    font-size: 1.25rem;
    text-align: justify;
    font-family: var(--font-2);   
    font-weight: 400;
    line-height: 1.8rem;
    font-style: raly normal;    
    padding-left: 2rem;
    padding-right: 2rem;

  }

  .hr2 {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    padding: 2rem;
    }

  .link {
    font-size: 1.25rem;
    text-align: justify;
    font-family: var(--font-2);   
    font-weight: 400;
    line-height: 1.8rem;
    font-style: raly normal;    
    padding-left: 2rem;
    padding-right: 2rem;

  }

  .h3__insta {
    font-size: 2.25rem;
    color: rgb(197, 132, 235);
    padding-left: 1rem;
    font-family: bely-display,sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 0.25rem;
  }

  .overview {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(232,54,0,1) 27%, rgba(17,68,193,1) 56%, rgba(232,54,0,1) 79%, rgba(0,0,0,1) 100%);
    font-size: 4rem;
    margin-top: 0.5rem;
    color: white;
    }

    .conclusion2 {
      background: rgb(2,0,36);
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(232,54,0,1) 27%, rgba(17,68,193,1) 56%, rgba(232,54,0,1) 79%, rgba(0,0,0,1) 100%);
      font-size: 2.5rem;
      color: white;
      margin-bottom: 40px;
      }

  /* Images */

  section.insta__img img {
    width: 450px;
    margin: 0 auto;
    display: block; 
  }

  section.insta__img2 img {
    width: 700px;
    margin: 0 auto;
    display: block;
    padding: 0 auto;
  }

  section.insta__img3 img {
    width: 550px;
    margin: 0 auto;
    display: block;
    padding: 0 auto;

  }

    section.insta__img4 img {
      width: 700px;
      margin: 0 auto;
      display: block;
      padding: 0 auto;
  }

  section.insta__img5 img {
    width: 700px;
    margin: 0 auto;
    display: block;
    padding: 0 auto;
  }

  section.insta__img6 img {
    width: 700px;
    margin: 0 auto;
    display: block;
    padding: 0 auto;
  }

  section.insta__img7 img {
    width: 700px;
    margin: 0 auto;
    display: block;
    padding: 0 auto;
  }

  .box-insta2 {
    width: 546.9px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 35px;
    margin-bottom: 35px; 
  }

  .overview2 {
  font-size: 150%;
  line-height: 100px;
  padding-right: 700px;
  padding-left: 50px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: rgba(232,54,0,1);
}

.vid2 {
  display: flex;
  justify-content: center;
}

.article__card {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  background-color: white;
}

.survey {
  padding-top: 1.5rem;
  padding-left: 10rem;
  font-size: 1.1rem;
  margin: 2rem;
  font-family: var(--font-2);
}

.number {
  margin-top: 1rem;
  color: #1144c1;
  padding-top: 40px;
  padding-right: 100%;
  font-size: 4rem;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  float: left;
  font-family: var(--font-1);
  font-weight: 400;
  font-style: normal;
}

.hr {
  color: rgb(197, 132, 235);
  display: block;
  width: 100%;
  }


}



@media screen and (min-width: 1200px) {
  .top__text {
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 0.8rem;
    background-size: 2rem 2rem;
  }

  .name {
    text-align: center;
    font-family: var(--font-1);
    font-size: 9.5rem;
    padding: 1rem;
    animation: Slide_Left 1.4s ease;
  }

  @keyframes Slide_Left {
    0% {
      transform: translateX(-4000px);
    }
    100% {
      transform: translateX(0);
    }
  }

  section.me img {
    width: 500px;
    margin-top: 2rem;
    display: block;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .index__insta {
    width: 800px;
    margin: 0 auto;
    display: block;
    margin-top: 2rem;
    padding: 0 auto;
  }

  .cs__card__text {
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-top: 1.7rem;
    margin-bottom: 2rem;
    background: rgb(0, 0, 0);
    padding-bottom: 1rem;
  }

  .cs__card__text2 {
    margin-left: -2rem;
    margin-right: -1.6rem;
    margin-top: 1.7rem;
    margin-bottom: 2rem;
    background: rgb(0, 0, 0);
    padding-bottom: 1rem;
  }

  p.description {
    font-family: var(--font-2);
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 3rem;
  }

  /* Insta */

  .title {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(163,43,7,1) 68%, rgba(0,0,0,1) 100%);
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 3rem;
    font-size: 4rem;
    font-family: var(--font-1);
    font-weight: 400;
  font-style: normal;
  }

  .title__index {
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 3rem;
    font-size: 4rem;
    font-family: var(--font-1);
    font-weight: 400;
  font-style: normal;
  }

  .vid2 {
    margin-top: 1rem;
    justify-content: center;
    margin-left: 5rem;
  }

  .p__insta2 {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
    font-family: var(--font-2);   
    font-weight: 400;
    font-style: normal;    
    padding-left: 3rem;
    padding-right: 3rem;

  }

  .link {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
    font-family: var(--font-2);   
    font-weight: 400;
    font-style: normal;    
    padding-left: 3rem;
    padding-right: 3rem;

  }

  .box__heading {
    color: #1144c1;
    font-size: 3rem;
    font-family: var(--font-1);
    font-weight: 400;
    font-style: normal;
    padding-bottom: 0.25rem;

  }

  .box1 {
    font-size: 1.3rem;
    font-family: var(--font-2);
font-weight: 400;
line-height: 2rem;
font-style: normal;

  }

  .survey {
    padding-top: 1.5rem;
    padding-left: 10rem;
    font-size: 1.3rem;
    margin: 2rem;
    font-family: var(--font-2);
  }

  section.insta__img img {
    width: 500px;
    margin: 0 auto;
    display: block;
    padding-top: 2.8rem; 
    padding-left: 1rem;
    padding-right: 1rem;
  }

  section.insta__img2 img {
    width: 700px;
    margin: 0 auto;
    display: block;
    padding: 1rem; 
  }

  section.insta__img3 img {
    width: 600px;
    margin: 0 auto;
    display: block;
    padding-top: 13rem;
    padding-right: 3rem;

  }

    section.insta__img4 img {
      width: 700px;
      margin: 0 auto;
      display: block;
      padding-top: 13rem;
      padding-left: 3rem;
  }

  section.insta-img5 img {
    width: 900px;
    margin: 0 auto;
    display: block;
    padding: 5%;
  }

  section.insta-img6 img {
    width: 900px;
    margin: 0 auto;
    display: block;
    padding: 5%;
  }

  section.insta__img7 img {
    width: 600px;
    margin: 0 auto;
    display: block;
    padding-right: 1rem;
    padding-top: 1rem;
  }

  .overview {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(232,54,0,1) 27%, rgba(17,68,193,1) 56%, rgba(232,54,0,1) 79%, rgba(0,0,0,1) 100%);
      font-size: 3.5rem;
      margin-top: 0.5rem;
      color: white;
    }

  .overview2 {
    font-size: 150%;
    float: left;
    line-height: 100px;
    padding-left: 50px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: rgb(197, 132, 235);
  }

  .box-insta2 {
    border: 2px solid azure;
    width: 630px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 35px;
    margin-bottom: 35px; 
  }

  .headdescrip {
    flex-direction: column;
    padding-left: 200px;
    padding-right: 10px;
  
  }

  .number {
    margin-top: 1rem;
    color: #1144c1;
    padding-top: 40px;
    font-size: 550%;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    font-family: var(--font-1);
    font-weight: 400;
    font-style: normal;
  }

  .hr {
    color:rgb(197, 132, 235);
    display: block;
    width: 100%;
    }

    .hr2 {
      margin-top: 1rem;
      padding: 2rem;
      }

    .conclusion2 {
      text-align: center;
      background: rgb(2,0,36);
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(232,54,0,1) 27%, rgba(17,68,193,1) 56%, rgba(232,54,0,1) 79%, rgba(0,0,0,1) 100%);
      font-size: 3.5rem;
      margin-bottom: 40px;
      font-style: var(--white-2);
      font-family: var(--font-1);
      font-weight: 400;
      font-style: normal;
      height: auto;
      width: 100%;
    }

    .case-study {
      flex-direction: row;
      justify-content: space-between;
    }

    .case-study__top-container {
      display: flex;
      flex-direction: column;
    }

    .cs__title {
      z-index: 2;
      color: rgb(197, 132, 235);
      font-family: var(--font-1);
      font-size: 3rem;
      padding-right: 2rem;
      padding-left: 2rem;
      padding-top: 1rem;
      padding-bottom: 0.5rem;
    }

    .desc__index {
      font-family: var(--font-2);
      font-size: 1.7rem;
      padding-left: 2rem;
      padding-right: 2rem;
      line-height: 2.5rem;
    }
 

}


  /* Mikes styles */

  .case-study__main-image {
    width: 100%;
  }

  @media screen and (min-width: 700px) {
    .case-study__top-container {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  